* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/bg.png') repeat fixed top left #CCC;
	color: #333;
	font-family: "Calibri", "Myriad Pro", Arial, sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 1px white;;
}

h1 {
	font-size: 45px;
	margin: 20px 0;
}

h2 {
	font-size: 30px;
	margin: 20px 0;
	color: yellowGreen;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 5px 0px;
}

p.small-font {
	font-size: 12pt;
	padding: 0;
}

.wrapper {
	width: 960px;
	margin: 20px auto;
}

.box {
	width: 49%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
